<h1>something{{name}}</h1>

<dl>
  <dt>Email</dt>
  <dd>{{email}}</dd>
</dl>

<p>
  Updated at: {{formatted-date updatedAt 'MMMM Do, YYYY [at] h:mm a'}}
  <br>
  Created at: {{formatted-date createdAt 'MMMM Do, YYYY [at] h:mm a'}}
</p>
