# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
emberchat.com/dist
emberchat.com/tmp

# dependencies
emberchat.com/node_modules
emberchat.com/bower_components

# misc
emberchat.com/.sass-cache
emberchat.com/connect.lock
emberchat.com/coverage/*
emberchat.com/libpeerconnection.log
emberchat.com/npm-debug.log
emberchat.com/testem.log


api.emberchat.com/.bundle
api.emberchat.com/db/*.sqlite3
api.emberchat.com/db/*.sqlite3-journal
api.emberchat.com/log/*
!/log/.keep
api.emberchat.com/tmp
api.emberchat.com/Gemfile.lock
.vagrant
.DS_Store
